<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MrTEK_EFatura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegration">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IClientInterfaceService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://efatura.innova.com.tr/ClientInterfaceService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientInterfaceService"
                contract="Innova.IClientInterfaceService" name="BasicHttpBinding_IClientInterfaceService" />
            <endpoint address="https://efatura.uyumsoft.com.tr/Services/Integration"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegration"
                contract="Uyumsoft.IIntegration" name="BasicHttpBinding_IIntegration" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <MrTEK_EFatura.Properties.Settings>
            <setting name="MrTEK_EFatura_FinansbankUser_userService" serializeAs="String">
                <value>http://178.251.43.49:8080/efatura/ws/userService</value>
            </setting>
            <setting name="MrTEK_EFatura_FinansbankConn_connectorService" serializeAs="String">
                <value>http://178.251.43.49:8080/efatura/ws/connectorService</value>
            </setting>
        </MrTEK_EFatura.Properties.Settings>
    </applicationSettings>
</configuration>
